* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the top-of-page content */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 5px 10px;
}

header a {
    text-decoration: none;
    color: #be2fde;
}

header a:hover {
    text-decoration: underline;
}

header .timer-cont {
    display: flex;
    align-items: center;
}

.timer-cont h3 {
    margin-right: 10px;
}

.timer-value {
    padding-top: 1px;
}

/* Styling the quiz text*/

.quiz-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quiz-text-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150px;
}

.quiz-text-cont h1 {
    width: 75%;
    margin-bottom: 15px;
    font-size: 45px;
}

.quiz-start-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
}

.quiz-start-cont p {
    width: 50%;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 30px;
    
}

.start-button-cont {
    width: 100%;
}

/* button styling */

.btn {
    background-color: rgb(71, 0, 102);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 15px;
    margin: 0 auto 10px auto;
    width: 100%;
    text-align: left;
}

.btn:hover {
    background-color: darkmagenta;
    cursor: pointer;
}

.start-button-cont .start-btn{
    width: auto;
}

.result-text {
    width: 100%;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #999;
    border-top: 2px #999 solid;
    margin: 10px 30%;
}
.quiz-answers-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 100%;
}
.quiz-answers-cont ul {
    margin: 0 auto 10px 27%;
}

.quiz-answers-list li {
    list-style-type: none;
}

/* style the game over screen */

.game-over-cont {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.game-over-cont form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-over-cont form label {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}

.game-over-cont form input {
    width: 25%;
    height: 35px;
    font-size: 25px;
    text-align: center;
}

.game-over-cont form .submit-btn {
    background-color: rgb(27, 8, 138);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 15px;
    margin: 10px auto;
}

.game-over-cont form .submit-btn:hover {
    background-color: rgb(42, 9, 230);
}

@media screen and (max-width: 930px) {
    .quiz-start-cont p {
        width: 100%;
        font-size: 25px;
        
    }
    .quiz-answers-cont .quiz-answers-list {
        margin: 0 auto;
    }
    .btn:hover {
        background-color: rgb(71, 0, 102);
    }
    
    .quiz-text-cont {
        margin-top: 20px;
    }

    .game-over-cont {
        margin-top: 30px;
        height: auto;
    }
}